<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Pony Store</title>

  <link rel="stylesheet" href="assets/css/normalize.css" media="all" />
  <link rel="stylesheet" href="assets/css/application.css" media="all" />

  <script>
    function ready(cb){
      if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading") {
        cb()
      } else {
        document.addEventListener("DOMContentLoaded", cb);
      }
    }
  </script>
</head>
<body>
  <div id="app">
    <h2>Каталог</h2>

    <button id="btn-filter">Фильтр</button>

    <div class="catalog">

    </div>

    <div class="modal_overlay">
      <div class="modal_content">
        <h3>Фильтр</h3>

        <button class="close">Закрыть</button>

        <form class="filter-controls">
          <div class="form-group">
            <label for="select_color">Цвет: </label>
            <select name="color" id="select_color">
              <option value="Фиолетовый">Фиолетовый</option>
              <option value="Белый">Белый</option>
              <option value="Голубой">Голубой</option>
              <option value="Желтый">Желтый</option>
              <option value="Оранжевый">Оранжевый</option>
              <option value="Розовый">Розовый</option>
              <option value="Серый">Серый</option>
              <option value="Синий">Синий</option>
              <option value="Красный">Красный</option>
              <option value="Зеленый">Зеленый</option>
            </select>
          </div>

          <div class="form-group">
            <label>Вид:</label>

            <span class="checkbox"><input type="checkbox" name="kind" value="Аликорн" checked/> Аликорн</span>
            <span class="checkbox"><input type="checkbox" name="kind" value="Единорог" checked/> Единорог</span>
            <span class="checkbox"><input type="checkbox" name="kind" value="Земная пони" checked/> Земная пони</span>
            <span class="checkbox"><input type="checkbox" name="kind" value="Пегас" checked /> Пегас</span>
          </div>

          <div class="form-group">
            <label>Цена: </label>
            От <input type="number" name="min-price" min="5" max="25" value="5" size="5" />
            До <input type="number" name="max-price" min="5" max="25" value="25"/>
          </div>

          <div class="form-group">
            <label>Новинка:</label>

            <input type="radio" name="novelty" value="no" checked/> Нет
            <input type="radio" name="novelty" value="yes" /> Да
          </div>

          <button class="submit">Найти</button>
        </form>
      </div>
    </div>
  </div>

  <script type="text/template" id="catalog-template">
    <ul class="items">
      <% items.forEach(function(item){ %>
        <li class="item">
          <div class="name"><%= item.name %></div>

          <div class="attributs">
            <div class="attribute color">
              <span class="label">Цвет: </span>
              <span class="value"><%= item.color %></span>
            </div>

            <div class="attribute kind">
              <span class="label">Тип: </span>
              <span class="value"><%= item.kind %></span>
            </div>

            <div class="attribute price">
              <span class="label">Цена: </span>
              <span class="value">$<%= item.price %></span>
            </div>

            <div class="attribute price">
              <span class="label">Новинка: </span>
              <span class="value">
                <% if(item.is_new) { %>
                  Да
                <% } else { %>
                  Нет
                <% } %>
              </span>
            </div>
          </div>
        </li>
      <% }) %>
    </ul>
  </script>

  <script src="assets/js/underscore-min.js"></script>
  <script src="assets/js/data.js"></script>
  <script src="assets/js/filter_modal.js"></script>
  <script src="assets/js/application.js"></script>
</body>

</html>